import(Biobase)

export("noiseq","noiseqbio","readData","addData","dat",
	"rpkm","tmm","uqua","degenes",
	"DE.plot", "filtered.data")

exportClasses("Output","Biodetection","CD","CountsBio","GCbias","lengthbias","Saturation")
exportMethods("show", "explo.plot","dat2save")

